@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Skranji&display=swap');


html, body {
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    display: grid;
    font-size: calc(1.2em + 0.4vw);
}

.landing, .sub {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F4D8B6;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border: 200%;
    overflow: hidden;
}


.landing .title{
    font-family: 'Skranji', cursive;
    width: 100%;
    letter-spacing: 0.5em;
    position: relative;
    text-align: center;
    color: #5D4A3c;
    font-size: 4vw;
    top: -18%;
}

.landing .logo {
    position: absolute;
    height: auto;
    max-width: 100%;
    transform: scale(0.18);
    top: -12em;
    left: -2em;
    animation: fadeIn 1s ease-in-out;
}


.landing .tag {
    font-family: 'Poppins', sans-serif;
    color: #5D4A3c;
    font-size: 150%;
}

.landing .searchBar {
    width: 100%;
    max-width: 700px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(120%);
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color:#7DA8AE;
    font-style: italic;
}

::placeholder {
    color:#7DA8AE;
}

.searchBar button img {
    width: 25px;
}

.searchBar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #7DA8AE;
  cursor: pointer;
}

.recipes, .contact {
    background-color: #7DA8AE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border: 200%;
    padding: 6em 0em 6em;
    overflow: hidden;
}

.recipes .title {
    font-family: 'Skranji', cursive;
    letter-spacing:0.3em;
    width: 100%;
    position: absolute;
    top: 17%;
    transform: translateY(-50%);
    text-align: center;
    color: #F4D8B6;
    font-size: 3vw;
    margin-top: -3vw;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
}

.contact .runeIMG {
  position: absolute;
  height: auto;
  width: 1000px;
  top: 18em;
  left: 16em;
  z-index: 1;
}

.contact .ravIMG {
  position: absolute;
  height: auto;
  width: 250px;
  top: 12.9em;
  left: 25em;
  z-index: 0;
}

.contactForm {
  z-index: 3;
  max-width: 80vw;
  margin: auto;
  padding-top: 22vw;
  overflow: hidden;
  
}

.contactFormTxt {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 26px 0;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  background-color: #818181;
  border-radius: 20px;
}

.contactFormTxt:focus {
  box-shadow: 0 0 10px 4px #7DA8AE;
}

textarea.contactFormTxt {
  resize: none;
  height: 120px;
}

.contactFormBtn {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background: #60888d;
  color: #ddd;
  padding: 1vw 2vw;
  border-radius: 20px;
  cursor: pointer;
  display: block;
}

.contactFormBtn:hover {
  background: #7DA8AE;
}

.sub .title {
    font-family: 'Skranji', cursive;
    letter-spacing:0.5em;
    width: 100%;
    position: absolute;
    top: 22%;
    transform: translateY(-50%);
    text-align: center;
    color: #5D4A3c;
    font-size: 1.6vw;
    margin-top: -100px;
    white-space: nowrap;
}


.sub .text {
  font-family: 'Poppins', sans-serif;
  color:#5D4A3c;
  padding: 6em 6em 6em;
  overflow: auto;
  z-index: 4;
}

.sub .shipIMG {
  position: absolute;
  height: auto;
  width: 1500px;
  top: 8em;
  left: 35em;
  z-index: 0;
  opacity: 0.4;
}

.contact .title {
    font-family: 'Skranji', cursive;
    letter-spacing:0.5em;
    width: 100%;
    position: absolute;
    top: 22%;
    transform: translateY(-50%);
    text-align: center;
    color: #F4D8B6;
    font-size: 3vw;
    margin-top: -3vw;
    white-space: nowrap;
}

.card {
  box-shadow: 0px 2px 20px #477177;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: #F4D8B6;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card .cardIMG {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card .cardTLT {
  padding: 1vw;
  color:#5D4A3c;
  font-family: 'Skranji', cursive;
  font-size: 1.5vw;
  text-align: center;
}

.card .cardDS {
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
   color:#5D4A3c;
   padding: 0 1vw;
   font-style: italic;
}

.card .cardBtn {
    padding: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    margin: 1vw;
    border: 2px solid #639096;
    background: #7DA8AE;
    color: #F4D8B6;
    border-radius: 0.2rem;
    cursor: pointer;
  }

.card:hover {
   transform: scale(1.02);
}

.cardBtn:hover {
  background: #5d868b;
  color: #bdd5d8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F4D8B6;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 200%;
    padding: 2vw 0em 2vw;
    overflow: hidden;
}

.footer .logo {
  position: absolute;
  height: auto;
  max-width: 100%;
  transform: scale(0.09);
  top: -27.6em;
  left: -32em;
}

.footer .p {
    text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: #F4D8B6;
}