@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

body {
    margin: 0;
    display: grid;
}

.landing, .sub {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F4D8B6;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border: 200%;
}

/*.landing .title{
    font-family: 'Skranji', cursive;
    font-size: 400%;
    color: #5D4A3c;
    letter-spacing:1.5em;
    align-items: center;
    margin: 200px;
    position: absolute;
    top: -0.5em;
}*/

.landing .title{
    font-family: 'Skranji', cursive;
    width: 100%;
    letter-spacing: 0.5em;
    position: relative;
    top: -10%;
    transform: translateY(-50%);
    text-align: center;
    color: #5D4A3c;
    font-size: 75px;
    margin-top: 90px;
}

.landing .logo{
    position: absolute;
    height: auto;
    max-width: 100%;
    transform: scale(0.25);
    top: -19em;
    left: -3em;
}

.landing .tag {
    font-family: Arial, sans-serif;
    color: #5D4A3c;
    font-size: 150%;
}

.recipes, .contact {
    background-color: #7DA8AE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border: 200%;
    padding: 6em 0em 6em;
}

.recipes .title {
    font-family: 'Skranji', cursive;
    letter-spacing:0.5em;
    width: 100%;
    position: absolute;
    top: 22%;
    transform: translateY(-50%);
    text-align: center;
    color: #F4D8B6;
    font-size: 40px;
    margin-top: -130px;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
}

.sub .title {
    font-family: 'Skranji', cursive;
    letter-spacing:0.5em;
    width: 100%;
    position: absolute;
    top: 22%;
    transform: translateY(-50%);
    text-align: center;
    color: #5D4A3c;
    font-size: 35px;
    margin-top: -100px;
    white-space: nowrap;
}

.contact .title {
    font-family: 'Skranji', cursive;
    letter-spacing:0.5em;
    width: 100%;
    position: absolute;
    top: 22%;
    transform: translateY(-50%);
    text-align: center;
    color: #F4D8B6;
    font-size: 35px;
    margin-top: -140px;
    white-space: nowrap;
}

.card {
  box-shadow: 0px 2px 20px black;
  border-radius: 0.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: #F4D8B6;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card .cardIMG {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card .cardTLT {
  padding: 1rem;
  color:#5D4A3c;
  font-family: 'Skranji', cursive;
}

.card .cardDS {
   font-family: Arial, Helvetica, sans-serif;
   color:#5D4A3c;
   padding: 0 1rem;
}

.card .cardBtn {
    padding: 1rem;
    font-family: Helvetica, cursive;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #588a91;
    background: #7DA8AE;
    color: #F4D8B6;
    border-radius: 0.2rem;
  }

.card:hover {
   transform: scale(1.02);
}

.cardBtn:hover {
  background: #5d868b;
  color: #bdd5d8;
}

/*.footer{
    background-color: #F4D8B6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 3px;
}

.footer .logo {
    transform: scale(0.3);
}
*/


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F4D8B6;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 200%;
    padding: 1em 0em 1em;
}

.footer .p {
    text-align: left;
}

/*.card {
    display: flex;
    overflow: hidden;
    box-shadow: 0px 2px 20px grey;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: transform 200ms ease-in;

    &__image {
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        padding: 1rem;
    }

    &__description {
        padding: 0 1rem;
    }

    &__btn {
        padding: 1rem;
        font-family: inherit;
        font-weight: bold;
        font-size: 1rem;
        margin: 1rem;
        border: 2px red;
        background: transparent;
        color: red;
        border-radius: 0.2rem;
      }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

.card {
    box-shadow: 0px 2px 20px var(--clr-gray200);
    border-radius: var(--radius);
    overflow: hidden; /* to make radius visible */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Put view recipe at the end of the container */
  }
  
  
  .card img {
    height: 12rem;
    width: 100%; /* extend the entire card with*/
    object-fit: cover;
    transition: transform 200ms ease-in;
  }
  
  .card-title {
    padding: 1rem;
  }
  
  .card-description {
     padding: 0 1rem;
  }
  
  .card-btn {
     padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid var(--clr-primary);
      background: transparent;
      color: var(--clr-primary);
      border-radius: var(--radius);
      transition: background 200ms ease-in, color 200ms ease-in;
  }
  
  /* Hover Effects */
  
  .card:hover {
     transform: scale(1.02);
  }
  
  .card-btn:hover {
    background: var(--clr-primary);
    color: white;
  }

  button {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }